InvestmentManagerWS/WebContent/wsdl/investmentmanagersi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InvestmentManagerSIService" targetNamespace="http://finance.ihedge.dk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://finance.ihedge.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://finance.ihedge.dk/" schemaLocation="investmentmanagersi_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="removeUnconfirmedSecurity">
    <wsdl:part name="parameters" element="tns:removeUnconfirmedSecurity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTournamentsResponse">
    <wsdl:part name="parameters" element="tns:getTournamentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTournament">
    <wsdl:part name="parameters" element="tns:getTournament">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPortfolioResponse">
    <wsdl:part name="parameters" element="tns:createPortfolioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="leaveTournament">
    <wsdl:part name="parameters" element="tns:leaveTournament">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enterTournament">
    <wsdl:part name="parameters" element="tns:enterTournament">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParticipants">
    <wsdl:part name="parameters" element="tns:getParticipants">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buySecurity">
    <wsdl:part name="parameters" element="tns:buySecurity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserToTournament">
    <wsdl:part name="parameters" element="tns:addUserToTournament">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssets">
    <wsdl:part name="parameters" element="tns:getAssets">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePortfolio">
    <wsdl:part name="parameters" element="tns:deletePortfolio">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUnconfirmedSecuritiesResponse">
    <wsdl:part name="parameters" element="tns:getUnconfirmedSecuritiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserFromTournament">
    <wsdl:part name="parameters" element="tns:removeUserFromTournament">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTournamentResponse">
    <wsdl:part name="parameters" element="tns:getTournamentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="leaveTournamentResponse">
    <wsdl:part name="parameters" element="tns:leaveTournamentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortfolioHeader">
    <wsdl:part name="parameters" element="tns:getPortfolioHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloWorld">
    <wsdl:part name="parameters" element="tns:helloWorld">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortfolioByTournament">
    <wsdl:part name="parameters" element="tns:getPortfolioByTournament">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortfolio">
    <wsdl:part name="parameters" element="tns:getPortfolio">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPortfolio">
    <wsdl:part name="parameters" element="tns:createPortfolio">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUnconfirmedSecuritiesResponse">
    <wsdl:part name="parameters" element="tns:removeUnconfirmedSecuritiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUnconfirmedSecurities">
    <wsdl:part name="parameters" element="tns:removeUnconfirmedSecurities">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTournament">
    <wsdl:part name="parameters" element="tns:deleteTournament">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssetsResponse">
    <wsdl:part name="parameters" element="tns:getAssetsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParticipantsResponse">
    <wsdl:part name="parameters" element="tns:getParticipantsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="amendUnconfirmedSecurityResponse">
    <wsdl:part name="parameters" element="tns:amendUnconfirmedSecurityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTournamentResponse">
    <wsdl:part name="parameters" element="tns:createTournamentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortfolioByTournamentResponse">
    <wsdl:part name="parameters" element="tns:getPortfolioByTournamentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAssetToFavoties">
    <wsdl:part name="parameters" element="tns:addAssetToFavoties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sellSecurity">
    <wsdl:part name="parameters" element="tns:sellSecurity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmSecuritiesResponse">
    <wsdl:part name="parameters" element="tns:confirmSecuritiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAssetToFavotiesResponse">
    <wsdl:part name="parameters" element="tns:addAssetToFavotiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePortfolioResponse">
    <wsdl:part name="parameters" element="tns:deletePortfolioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeAssetFromFavotiesResponse">
    <wsdl:part name="parameters" element="tns:removeAssetFromFavotiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTournament">
    <wsdl:part name="parameters" element="tns:createTournament">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enterTournamentResponse">
    <wsdl:part name="parameters" element="tns:enterTournamentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmSecurities">
    <wsdl:part name="parameters" element="tns:confirmSecurities">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sellSecurityResponse">
    <wsdl:part name="parameters" element="tns:sellSecurityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserToTournamentResponse">
    <wsdl:part name="parameters" element="tns:addUserToTournamentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUnconfirmedSecurityResponse">
    <wsdl:part name="parameters" element="tns:removeUnconfirmedSecurityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortfolios">
    <wsdl:part name="parameters" element="tns:getPortfolios">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTournaments">
    <wsdl:part name="parameters" element="tns:getTournaments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloWorldResponse">
    <wsdl:part name="parameters" element="tns:helloWorldResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCategories">
    <wsdl:part name="parameters" element="tns:getCategories">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeAssetFromFavoties">
    <wsdl:part name="parameters" element="tns:removeAssetFromFavoties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="amendUnconfirmedSecurity">
    <wsdl:part name="parameters" element="tns:amendUnconfirmedSecurity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortfoliosResponse">
    <wsdl:part name="parameters" element="tns:getPortfoliosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTournamentResponse">
    <wsdl:part name="parameters" element="tns:deleteTournamentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortfolioHeaderResponse">
    <wsdl:part name="parameters" element="tns:getPortfolioHeaderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserFromTournamentResponse">
    <wsdl:part name="parameters" element="tns:removeUserFromTournamentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buySecurityResponse">
    <wsdl:part name="parameters" element="tns:buySecurityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCategoriesResponse">
    <wsdl:part name="parameters" element="tns:getCategoriesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortfolioResponse">
    <wsdl:part name="parameters" element="tns:getPortfolioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUnconfirmedSecurities">
    <wsdl:part name="parameters" element="tns:getUnconfirmedSecurities">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InvestmentManagerInterface">
    <wsdl:operation name="getPortfolioHeader">
      <wsdl:input name="getPortfolioHeader" message="tns:getPortfolioHeader">
    </wsdl:input>
      <wsdl:output name="getPortfolioHeaderResponse" message="tns:getPortfolioHeaderResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="leaveTournament">
      <wsdl:input name="leaveTournament" message="tns:leaveTournament">
    </wsdl:input>
      <wsdl:output name="leaveTournamentResponse" message="tns:leaveTournamentResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getParticipants">
      <wsdl:input name="getParticipants" message="tns:getParticipants">
    </wsdl:input>
      <wsdl:output name="getParticipantsResponse" message="tns:getParticipantsResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login">
    </wsdl:input>
      <wsdl:output name="loginResponse" message="tns:loginResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePortfolio">
      <wsdl:input name="deletePortfolio" message="tns:deletePortfolio">
    </wsdl:input>
      <wsdl:output name="deletePortfolioResponse" message="tns:deletePortfolioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnconfirmedSecurities">
      <wsdl:input name="getUnconfirmedSecurities" message="tns:getUnconfirmedSecurities">
    </wsdl:input>
      <wsdl:output name="getUnconfirmedSecuritiesResponse" message="tns:getUnconfirmedSecuritiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPortfolioByTournament">
      <wsdl:input name="getPortfolioByTournament" message="tns:getPortfolioByTournament">
    </wsdl:input>
      <wsdl:output name="getPortfolioByTournamentResponse" message="tns:getPortfolioByTournamentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTournament">
      <wsdl:input name="createTournament" message="tns:createTournament">
    </wsdl:input>
      <wsdl:output name="createTournamentResponse" message="tns:createTournamentResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="helloWorld">
      <wsdl:input name="helloWorld" message="tns:helloWorld">
    </wsdl:input>
      <wsdl:output name="helloWorldResponse" message="tns:helloWorldResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enterTournament">
      <wsdl:input name="enterTournament" message="tns:enterTournament">
    </wsdl:input>
      <wsdl:output name="enterTournamentResponse" message="tns:enterTournamentResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buySecurity">
      <wsdl:input name="buySecurity" message="tns:buySecurity">
    </wsdl:input>
      <wsdl:output name="buySecurityResponse" message="tns:buySecurityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategories">
      <wsdl:input name="getCategories" message="tns:getCategories">
    </wsdl:input>
      <wsdl:output name="getCategoriesResponse" message="tns:getCategoriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromTournament">
      <wsdl:input name="removeUserFromTournament" message="tns:removeUserFromTournament">
    </wsdl:input>
      <wsdl:output name="removeUserFromTournamentResponse" message="tns:removeUserFromTournamentResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUnconfirmedSecurity">
      <wsdl:input name="removeUnconfirmedSecurity" message="tns:removeUnconfirmedSecurity">
    </wsdl:input>
      <wsdl:output name="removeUnconfirmedSecurityResponse" message="tns:removeUnconfirmedSecurityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sellSecurity">
      <wsdl:input name="sellSecurity" message="tns:sellSecurity">
    </wsdl:input>
      <wsdl:output name="sellSecurityResponse" message="tns:sellSecurityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToTournament">
      <wsdl:input name="addUserToTournament" message="tns:addUserToTournament">
    </wsdl:input>
      <wsdl:output name="addUserToTournamentResponse" message="tns:addUserToTournamentResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUnconfirmedSecurities">
      <wsdl:input name="removeUnconfirmedSecurities" message="tns:removeUnconfirmedSecurities">
    </wsdl:input>
      <wsdl:output name="removeUnconfirmedSecuritiesResponse" message="tns:removeUnconfirmedSecuritiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournaments">
      <wsdl:input name="getTournaments" message="tns:getTournaments">
    </wsdl:input>
      <wsdl:output name="getTournamentsResponse" message="tns:getTournamentsResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPortfolios">
      <wsdl:input name="getPortfolios" message="tns:getPortfolios">
    </wsdl:input>
      <wsdl:output name="getPortfoliosResponse" message="tns:getPortfoliosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPortfolio">
      <wsdl:input name="getPortfolio" message="tns:getPortfolio">
    </wsdl:input>
      <wsdl:output name="getPortfolioResponse" message="tns:getPortfolioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmSecurities">
      <wsdl:input name="confirmSecurities" message="tns:confirmSecurities">
    </wsdl:input>
      <wsdl:output name="confirmSecuritiesResponse" message="tns:confirmSecuritiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTournament">
      <wsdl:input name="deleteTournament" message="tns:deleteTournament">
    </wsdl:input>
      <wsdl:output name="deleteTournamentResponse" message="tns:deleteTournamentResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTournament">
      <wsdl:input name="getTournament" message="tns:getTournament">
    </wsdl:input>
      <wsdl:output name="getTournamentResponse" message="tns:getTournamentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssets">
      <wsdl:input name="getAssets" message="tns:getAssets">
    </wsdl:input>
      <wsdl:output name="getAssetsResponse" message="tns:getAssetsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="amendUnconfirmedSecurity">
      <wsdl:input name="amendUnconfirmedSecurity" message="tns:amendUnconfirmedSecurity">
    </wsdl:input>
      <wsdl:output name="amendUnconfirmedSecurityResponse" message="tns:amendUnconfirmedSecurityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAssetToFavoties">
      <wsdl:input name="addAssetToFavoties" message="tns:addAssetToFavoties">
    </wsdl:input>
      <wsdl:output name="addAssetToFavotiesResponse" message="tns:addAssetToFavotiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAssetFromFavoties">
      <wsdl:input name="removeAssetFromFavoties" message="tns:removeAssetFromFavoties">
    </wsdl:input>
      <wsdl:output name="removeAssetFromFavotiesResponse" message="tns:removeAssetFromFavotiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPortfolio">
      <wsdl:input name="createPortfolio" message="tns:createPortfolio">
    </wsdl:input>
      <wsdl:output name="createPortfolioResponse" message="tns:createPortfolioResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvestmentManagerSIServiceSoapBinding" type="tns:InvestmentManagerInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPortfolioHeader">
      <soap:operation soapAction="urn:GetPortfolioHeader" style="document"/>
      <wsdl:input name="getPortfolioHeader">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPortfolioHeaderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="leaveTournament">
      <soap:operation soapAction="urn:LeaveTournament" style="document"/>
      <wsdl:input name="leaveTournament">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="leaveTournamentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getParticipants">
      <soap:operation soapAction="urn:GetParticipants" style="document"/>
      <wsdl:input name="getParticipants">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getParticipantsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:Login" style="document"/>
      <wsdl:input name="login">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePortfolio">
      <soap:operation soapAction="urn:DeletePortfolio" style="document"/>
      <wsdl:input name="deletePortfolio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePortfolioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnconfirmedSecurities">
      <soap:operation soapAction="urn:GetUnconfirmedSecurities" style="document"/>
      <wsdl:input name="getUnconfirmedSecurities">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUnconfirmedSecuritiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPortfolioByTournament">
      <soap:operation soapAction="urn:GetPortfolioByTournament" style="document"/>
      <wsdl:input name="getPortfolioByTournament">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPortfolioByTournamentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTournament">
      <soap:operation soapAction="urn:CreateTournament" style="document"/>
      <wsdl:input name="createTournament">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createTournamentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="helloWorld">
      <soap:operation soapAction="urn:HelloWorld" style="document"/>
      <wsdl:input name="helloWorld">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloWorldResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enterTournament">
      <soap:operation soapAction="urn:EnterTournament" style="document"/>
      <wsdl:input name="enterTournament">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enterTournamentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buySecurity">
      <soap:operation soapAction="urn:BuySecurity" style="document"/>
      <wsdl:input name="buySecurity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buySecurityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategories">
      <soap:operation soapAction="urn:GetCategories" style="document"/>
      <wsdl:input name="getCategories">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCategoriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromTournament">
      <soap:operation soapAction="urn:RemoveUserFromTournament" style="document"/>
      <wsdl:input name="removeUserFromTournament">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeUserFromTournamentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUnconfirmedSecurity">
      <soap:operation soapAction="urn:RemoveUnconfirmedSecurity" style="document"/>
      <wsdl:input name="removeUnconfirmedSecurity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeUnconfirmedSecurityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sellSecurity">
      <soap:operation soapAction="urn:SellSecurity" style="document"/>
      <wsdl:input name="sellSecurity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sellSecurityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToTournament">
      <soap:operation soapAction="urn:AddUserToTournament" style="document"/>
      <wsdl:input name="addUserToTournament">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserToTournamentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUnconfirmedSecurities">
      <soap:operation soapAction="urn:RemoveUnconfirmedSecurities" style="document"/>
      <wsdl:input name="removeUnconfirmedSecurities">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeUnconfirmedSecuritiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournaments">
      <soap:operation soapAction="urn:GetTournaments" style="document"/>
      <wsdl:input name="getTournaments">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTournamentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPortfolios">
      <soap:operation soapAction="urn:GetPortfolios" style="document"/>
      <wsdl:input name="getPortfolios">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPortfoliosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmSecurities">
      <soap:operation soapAction="urn:ConfirmSecurities" style="document"/>
      <wsdl:input name="confirmSecurities">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="confirmSecuritiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPortfolio">
      <soap:operation soapAction="urn:GetPortfolio" style="document"/>
      <wsdl:input name="getPortfolio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPortfolioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTournament">
      <soap:operation soapAction="urn:DeleteTournament" style="document"/>
      <wsdl:input name="deleteTournament">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteTournamentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAssets">
      <soap:operation soapAction="urn:GetAssets" style="document"/>
      <wsdl:input name="getAssets">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAssetsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournament">
      <soap:operation soapAction="urn:GetTournament" style="document"/>
      <wsdl:input name="getTournament">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTournamentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAssetToFavoties">
      <soap:operation soapAction="urn:AddAssetToFavoties" style="document"/>
      <wsdl:input name="addAssetToFavoties">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAssetToFavotiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="amendUnconfirmedSecurity">
      <soap:operation soapAction="urn:AmendUnconfirmedSecurity" style="document"/>
      <wsdl:input name="amendUnconfirmedSecurity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="amendUnconfirmedSecurityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAssetFromFavoties">
      <soap:operation soapAction="urn:RemoveAssetFromFavoties" style="document"/>
      <wsdl:input name="removeAssetFromFavoties">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeAssetFromFavotiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPortfolio">
      <soap:operation soapAction="urn:CreatePortfolio" style="document"/>
      <wsdl:input name="createPortfolio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPortfolioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvestmentManagerSIService">
    <wsdl:port name="InvestmentManagerSIPort" binding="tns:InvestmentManagerSIServiceSoapBinding">
      <soap:address location="http://localhost:9090/InvestmentManagerSIPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
