dotnet/InvestmentManager/InvestmentManagerMVC3WebApp/Service References/InMaJavaWS/InvestmentManagerSIPort1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://finance.ihedge.dk/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://finance.ihedge.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addAssetToFavoties" type="tns:addAssetToFavoties" />
  <xs:element name="addAssetToFavotiesResponse" type="tns:addAssetToFavotiesResponse" />
  <xs:element name="addUserToTournament" type="tns:addUserToTournament" />
  <xs:element name="addUserToTournamentResponse" type="tns:addUserToTournamentResponse" />
  <xs:element name="amendUnconfirmedSecurity" type="tns:amendUnconfirmedSecurity" />
  <xs:element name="amendUnconfirmedSecurityResponse" type="tns:amendUnconfirmedSecurityResponse" />
  <xs:element name="buySecurity" type="tns:buySecurity" />
  <xs:element name="buySecurityResponse" type="tns:buySecurityResponse" />
  <xs:element name="confirmSecurities" type="tns:confirmSecurities" />
  <xs:element name="confirmSecuritiesResponse" type="tns:confirmSecuritiesResponse" />
  <xs:element name="createPortfolio" type="tns:createPortfolio" />
  <xs:element name="createPortfolioResponse" type="tns:createPortfolioResponse" />
  <xs:element name="createTournament" type="tns:createTournament" />
  <xs:element name="createTournamentResponse" type="tns:createTournamentResponse" />
  <xs:element name="deletePortfolio" type="tns:deletePortfolio" />
  <xs:element name="deletePortfolioResponse" type="tns:deletePortfolioResponse" />
  <xs:element name="deleteTournament" type="tns:deleteTournament" />
  <xs:element name="deleteTournamentResponse" type="tns:deleteTournamentResponse" />
  <xs:element name="enterTournament" type="tns:enterTournament" />
  <xs:element name="enterTournamentResponse" type="tns:enterTournamentResponse" />
  <xs:element name="getAssets" type="tns:getAssets" />
  <xs:element name="getAssetsResponse" type="tns:getAssetsResponse" />
  <xs:element name="getCategories" type="tns:getCategories" />
  <xs:element name="getCategoriesResponse" type="tns:getCategoriesResponse" />
  <xs:element name="getParticipants" type="tns:getParticipants" />
  <xs:element name="getParticipantsResponse" type="tns:getParticipantsResponse" />
  <xs:element name="getPortfolio" type="tns:getPortfolio" />
  <xs:element name="getPortfolioByTournament" type="tns:getPortfolioByTournament" />
  <xs:element name="getPortfolioByTournamentResponse" type="tns:getPortfolioByTournamentResponse" />
  <xs:element name="getPortfolioHeader" type="tns:getPortfolioHeader" />
  <xs:element name="getPortfolioHeaderResponse" type="tns:getPortfolioHeaderResponse" />
  <xs:element name="getPortfolioResponse" type="tns:getPortfolioResponse" />
  <xs:element name="getPortfolios" type="tns:getPortfolios" />
  <xs:element name="getPortfoliosResponse" type="tns:getPortfoliosResponse" />
  <xs:element name="getTournament" type="tns:getTournament" />
  <xs:element name="getTournamentResponse" type="tns:getTournamentResponse" />
  <xs:element name="getTournaments" type="tns:getTournaments" />
  <xs:element name="getTournamentsResponse" type="tns:getTournamentsResponse" />
  <xs:element name="getUnconfirmedSecurities" type="tns:getUnconfirmedSecurities" />
  <xs:element name="getUnconfirmedSecuritiesResponse" type="tns:getUnconfirmedSecuritiesResponse" />
  <xs:element name="helloWorld" type="tns:helloWorld" />
  <xs:element name="helloWorldResponse" type="tns:helloWorldResponse" />
  <xs:element name="leaveTournament" type="tns:leaveTournament" />
  <xs:element name="leaveTournamentResponse" type="tns:leaveTournamentResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:element name="removeAssetFromFavoties" type="tns:removeAssetFromFavoties" />
  <xs:element name="removeAssetFromFavotiesResponse" type="tns:removeAssetFromFavotiesResponse" />
  <xs:element name="removeUnconfirmedSecurities" type="tns:removeUnconfirmedSecurities" />
  <xs:element name="removeUnconfirmedSecuritiesResponse" type="tns:removeUnconfirmedSecuritiesResponse" />
  <xs:element name="removeUnconfirmedSecurity" type="tns:removeUnconfirmedSecurity" />
  <xs:element name="removeUnconfirmedSecurityResponse" type="tns:removeUnconfirmedSecurityResponse" />
  <xs:element name="removeUserFromTournament" type="tns:removeUserFromTournament" />
  <xs:element name="removeUserFromTournamentResponse" type="tns:removeUserFromTournamentResponse" />
  <xs:element name="sellSecurity" type="tns:sellSecurity" />
  <xs:element name="sellSecurityResponse" type="tns:sellSecurityResponse" />
  <xs:complexType name="getPortfolioHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="portfolioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPortfolioHeaderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portfolioHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portfolioHeader">
    <xs:sequence>
      <xs:element name="cash" type="xs:double" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="marketValue" type="xs:double" />
      <xs:element name="rank" type="xs:int" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element name="tournamentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="leaveTournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="tournamentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="leaveTournamentResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getParticipants">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="tournamentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getParticipantsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="cash" type="xs:double" />
      <xs:element minOccurs="0" name="fullName" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="marketValue" type="xs:double" />
      <xs:element name="portfolioId" type="xs:int" />
      <xs:element name="rank" type="xs:int" />
      <xs:element minOccurs="0" name="role" type="tns:userRoleEnum" />
      <xs:element name="totalValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="authProvider" type="xs:string" />
      <xs:element minOccurs="0" name="userName" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="authProviderId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="deletePortfolio">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="portfolioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePortfolioResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getUnconfirmedSecurities">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="portfolioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUnconfirmedSecuritiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:security" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="security">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:asset">
        <xs:sequence>
          <xs:element name="portfolioId" type="xs:int" />
          <xs:element name="position" type="xs:int" />
          <xs:element name="purchaceQuote" type="xs:double" />
          <xs:element name="purchaseAmount" type="xs:double" />
          <xs:element minOccurs="0" name="status" type="tns:statusEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="asset">
    <xs:sequence>
      <xs:element name="anualVolatility" type="xs:double" />
      <xs:element name="avgVoltatility" type="xs:double" />
      <xs:element minOccurs="0" name="categoryTitle" type="xs:string" />
      <xs:element name="change" type="xs:double" />
      <xs:element name="dailyVolatility" type="xs:double" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="marketValue" type="xs:double" />
      <xs:element name="previousClose" type="xs:double" />
      <xs:element name="quote" type="xs:double" />
      <xs:element minOccurs="0" name="symbol" type="xs:string" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element name="volume" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPortfolioByTournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="tournamentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPortfolioByTournamentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portfolio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portfolio">
    <xs:sequence>
      <xs:element minOccurs="0" name="portfolioHeader" type="tns:portfolioHeader" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="securities" nillable="true" type="tns:security" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="securitiesSummed" nillable="true" type="tns:security" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createTournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="tournament" type="tns:tournament" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="public" type="xs:boolean" />
      <xs:element name="signedUp" type="xs:boolean" />
      <xs:element name="startCash" type="xs:double" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createTournamentResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="helloWorld">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="helloWorldResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="enterTournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="tournamentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enterTournamentResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buySecurity">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="security" type="tns:security" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buySecurityResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCategories">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCategoriesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="category">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeUserFromTournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="userLogin" type="xs:string" />
      <xs:element name="tournamentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeUserFromTournamentResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="removeUnconfirmedSecurity">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="securityID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeUnconfirmedSecurityResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="sellSecurity">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="security" type="tns:security" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sellSecurityResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="addUserToTournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="userLogin" type="xs:string" />
      <xs:element minOccurs="0" name="userRole" type="tns:userRoleEnum" />
      <xs:element name="tournamentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserToTournamentResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="removeUnconfirmedSecurities">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="portfolioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeUnconfirmedSecuritiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:transactionReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="securities" nillable="true" type="tns:security" />
      <xs:element name="totalBuy" type="xs:double" />
      <xs:element name="totalSell" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTournaments">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTournamentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tournament" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPortfolios">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPortfoliosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portfolio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPortfolio">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="portfolioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPortfolioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portfolio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmSecurities">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="portfolioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmSecuritiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:transactionReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteTournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="tournamentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteTournamentResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getTournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="tournamentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTournamentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tournament" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAssets">
    <xs:sequence>
      <xs:element name="categoryId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAssetsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:asset" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="amendUnconfirmedSecurity">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="tns:security" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="amendUnconfirmedSecurityResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="addAssetToFavoties">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="assetID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addAssetToFavotiesResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="removeAssetFromFavoties">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element name="assetID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeAssetFromFavotiesResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="createPortfolio">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="portfolioTitle" type="xs:string" />
      <xs:element name="startCash" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPortfolioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portfolio" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="userRoleEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="Admin" />
      <xs:enumeration value="Owner" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="statusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Confirmed" />
      <xs:enumeration value="NotConfirmed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Exception" type="tns:Exception" />
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>